@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3 mt-4">Welcome!</h1>

</div>
<div class="text-center">
    <p class="mb-2">
        You have landed at the ultimate web app for organizing and saving your code reference links!

        As a software developer or casual coder, you know how important it is to have fast access code resources, especially the ones you have used before and likely will use again. CR2 is a web app I created as the final project for my software development course, and I'm excited to share it with you. With a sleek and intuitive interface, CR2 makes it easy to add, edit, and delete links.
        Since there are no sign-in options, all users share the same database of reference links. </p>
    <p class="mb-2"> This means that you don't need to worry about creating an account or logging in - simply access CR2 from any device and start organizing your code resources right away.

        CR2 also allows you to search for links based on keyphrases and project names, so you can quickly find the resources you need. 

        I hope you enjoy using CR2 as much as I enjoyed creating it.
        Start contribution with your code reference links today!
    </p>

</div>
<div class="text-center">
   
    <p>Lets get <a asp-area="" asp-controller="Reference" asp-action="Index"> started!</a>.</p>
</div>

