@{
    ViewData["Title"] = "CR2 -Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-3 mt-4">Welcome!</h1>

</div>
<div classs="flex">
    <div class="row mt-3">

        <div class="col-6">
            <h3 class="mb-2 text-danger">Quickstart:</h3>
            <p class="mb-2 justify-fill">
                You have landed at the ultimate web app for organizing and saving your code reference links!

                As a software developer or casual coder, you know how important it is to have fast access code resources, especially the ones you have used before and likely will use again. CR2 is a web app I created as the final project for my software development course, and I'm excited to share it with you. With a sleek and intuitive interface, CR2 makes it easy to add and update code helps links.
                Currently there are no sign-in options, all users have access to the base repository.
            </p>
            <p class="mb-2">
                This means that you don't need to worry about creating an account or logging in.

                CR2 also allows you to search for links based on keyphrases and project names, so you can quickly find the resources you need.
            <p class="mb-2">
                How can add my own links?
                I would love to have fellow developers add to this repo, to contribute -simply request a developer token.
                </p>
                <p>
                I hope you enjoy using CR2 as much as I enjoyed creating it.

            </p>


        </div>

        <div class="col-6">
            <h3 class="text-danger ms-2">Notes:</h3>
            <ul class="text-danger">
                <li class="text-success">Pending: Pagination</li>
                <li class="text-success">Contributor tokens will be refreshed regularly</li>
                <li class="text-success">Repo <a href="https://github.com/dredelander/CodeReferenceDB" target=“_blank” >link</a>.</li>
                <li class="text-success">Special thanks to <a href="https://codelouisville.org/" target="_blank">Code Louisville</a> & the Spring 23'software development mentors (tue session). </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center mt-4">
    <p class="text-info mb-3" style="font-weight:bolder">
        To request a developer token, please email the admin.
        </p>
    <p class="mt-2 text-success">
        <a href="mailto:andres@landercentral.com"
        <i class="bi bi-envelope-at-fill ms-2"></i> andres@landercentral.com
        </a>
    </p>

</div>
<div class="text-center ">
   
    <p>Lets get <a asp-area="" asp-controller="Reference" asp-action="Index" class="text-danger"> started!</a>.</p>
</div>

